# NOTE: Make sure to check gitignore documentation in order to work with
# gitignore files
#
# https://git-scm.com/docs/gitignore#_pattern_format

# TODO: Make sure to customize this file before using it

#### Technologies used in the repository  ####

# TODO: Make sure to add ignores for technologies used in the repository
# You can add them using the following resources:
#
# - Templates: https://github.com/github/gitignore
# - Template generator: https://www.toptal.com/developers/gitignore
#   - Templates: https://github.com/toptal/gitignore/tree/master

# Created by https://www.toptal.com/developers/gitignore/api/c
# Edit at https://www.toptal.com/developers/gitignore?templates=c

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Custom
# Added by cargo
/target

# End of https://www.toptal.com/developers/gitignore/api/c

#### Team IDEs and text editors ####

# Created by https://www.toptal.com/developers/gitignore/api/vim,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=vim,visualstudiocode

### Vim ###
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/vim,visualstudiocode

#### SECURITY: In order to reduce risks ####

### Credentials ###

# Environment variables
.env
.env.*
*.env.local

# Created by https://www.toptal.com/developers/gitignore/api/windows,linux,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,linux,macos

### Temp  ###
*~
*.old
*.orig

### Backup ###
*.backup
*.bak
*.bkp
*.gho
*.ori
*.orig
*.tmp

# End of https://www.toptal.com/developers/gitignore/api/backup

#### OS Files ####

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,linux,macos

#### PERFORMANCE: To reduce unnecesary file checking (e.g,, binaries) ####

## Compiled programs ##
**/bin/

## Executables ##
*.app
#*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.pyc
*.vb
*.wsf

# Prevents massive di
**/.yarn/releases/**
**/.yarn/plugins/**

# End of https://www.toptal.com/developers/gitignore/api/executable

### Extensionless Executables ###
# WARNING: Ignoring extensionless files can lead to issues—many important files
# like Dockerfile, Makefile, README, etc., have no extension.
# Uncomment below to ignore all extensionless files (often used for ignoring
# binary blobs or Unix scripts)
#*
#!/**/
#!*.*

### Media ###

# Graphics
*.ai
*.bmp
*.eps
*.gif
*.gifv
*.ico
*.jng
*.jp2
*.jpg
*.jpeg
*.jpx
*.jxr
*.pdf
*.png
*.psb
*.psd
*.svg
*.svgz
*.tif
*.tiff
*.wbmp
*.webp

# Audio
*.kar
*.m4a
*.mid
*.midi
*.mp3
*.ogg
*.ra

# Video
*.3gpp
*.3gp
*.as
*.asf
*.asx
*.avi
*.fla
*.flv
*.m4v
*.mng
*.mov
*.mp4
*.mpeg
*.mpg
*.ogv
*.swc
*.swf
*.webm

# Fonts
*.ttf
*.eot
*.otf
*.woff
*.woff2

### Archives and Compression Files ###

# Archives
*.pkg
*.iso
*.sfark
*.sit
*.sitx
*.tar
*.tar*

# Package managers
# Red Hat Package Manager
*.rpm
# Debian package
*.deb
# MicroSoft Installer
*.msi
*.msm
*.msp
# Mozilla package installer
*.xpi
# Ruby Package
*.gem

# Compression
*.7z
*.bz2
*.F
*.gz
*.lz
*.lzma
*.lzo
*.rz
*.sz
*.xz
*.z
*.Z
*.infl
*.??_

# Compressed Archives
*.rar
*.tgz
*.zip
*.zipx
*.?Q?
*.?Z?

### Office ###

## Microsoft Office ##
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# Temporary
*.tmp
~$*.doc*
~$*.xls*
~$*.ppt*
# Visio autosave temporary files
*.~vsd*

# Backup
Backup of *.doc*
*.xlk
*.~vsd*

## LibreOffice ##
# LibreOffice locks
.~lock.*#
